@import url(responsive.css);
.bo {
  border: 2px solid red;
}

.header {
  flex-wrap: wrap;
}
.header > section {
  background-color: black;
  z-index: 100;
  height: 5vw;
}
.header > section figure {
  width: 30%;
  padding: 5px 20px;
}
.header > section nav {
  width: 70%;
}
.header > section nav ul {
  align-items: center;
  justify-content: center;
}
.header > section nav ul > li:nth-of-type(1) a {
  color: white;
}
.header > section nav ul * {
  position: relative;
}
.header > section nav ul *:hover > a {
  color: white;
}
.header > section nav ul * a {
  height: 4vw;
  color: dimgray;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-left: 20px;
}
.header > section nav ul *:hover > ul {
  opacity: 1;
  visibility: visible;
}
.header > section nav ul * ul {
  width: 260%;
  position: absolute;
  top: auto;
  left: auto;
  opacity: 0;
  visibility: hidden;
  background-color: dimgray;
  border-radius: 0.5vw;
}
.header > section nav ul * ul li:hover > a {
  background-color: #bda16b;
}
.header > section nav ul * ul li a {
  color: white;
  border-radius: 0.5vw;
  padding: 1vw 0.4vw;
  font-size: 1.4vw;
  text-transform: capitalize;
  margin: 0;
}
.header > section nav ul > li:nth-of-type(4) ul {
  width: 80vw;
  left: -42vw;
  background-color: none;
}
.header > section nav ul > li:nth-of-type(4) ul li {
  width: 25%;
  height: 20vw;
}
.header > section nav ul > li:nth-of-type(4) ul li figure {
  width: 100%;
  overflow: hidden;
}
.header > section nav ul > li:nth-of-type(4) ul li figure img {
  position: absolute;
  left: 0;
  top: 0;
}
.header > section nav ul > li:nth-of-type(4) ul li figure:hover > figcaption {
  transform: scale(1.1);
}
.header > section nav ul > li:nth-of-type(4) ul li figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0.505));
  align-content: center;
  flex-wrap: wrap;
}
.header > section nav ul > li:nth-of-type(4) ul li figure figcaption h3 {
  text-transform: uppercase;
  font-size: 1.7vw;
  margin: 3vw 0;
}
.header > section nav ul > li:nth-of-type(4) ul li figure figcaption p {
  text-transform: capitalize;
  font-size: 1.2vw;
}
.header > div section:nth-of-type(1) {
  width: 45%;
  background-color: black;
  padding: 15% 10%;
}
.header > div section:nth-of-type(1) h3 {
  color: white;
  font-size: 1vw;
  margin-bottom: 10%;
}
.header > div section:nth-of-type(1) h1 {
  font-style: oblique;
  font-stretch: narrower;
  color: white;
  font-size: 4vw;
  margin-bottom: 10%;
}
.header > div section:nth-of-type(1) p {
  color: white;
  font-size: 1.5vw;
  margin-bottom: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
}
.header > div section:nth-of-type(1) > a:hover {
  color: black;
  background-color: white;
}
.header > div section:nth-of-type(1) a {
  font-family: serif;
  color: white;
  border: 1px solid white;
  font-size: 2vw;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
}
.header > div section:nth-of-type(2) {
  width: 55%;
  background-image: url(../img/slider52x.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.s1 {
  padding: 5% 5%;
  flex-wrap: wrap;
}
.s1 > article:nth-of-type(1) {
  padding: 5% 5%;
  width: 50%;
}
.s1 > article:nth-of-type(1) p {
  font-size: 1.3vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 2vw;
}
.s1 > article:nth-of-type(1) p span {
  font-size: 1.7vw;
  font-weight: bold;
  font-family: serif;
}
.s1 > article:nth-of-type(1) h2 {
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 2vw;
  font-weight: bold;
}
.s1 > article:nth-of-type(1) figure {
  width: 10vw;
  height: 10vw;
}
.s1 > article:nth-of-type(2) {
  padding: 0 5%;
  width: 50%;
}
.s1 > article:nth-of-type(2) figure {
  height: 80vh;
  position: relative;
}
.s1 > article:nth-of-type(2) figure:hover > a > img {
  transform: scale(1.1);
}
.s1 > article:nth-of-type(2) figure img {
  position: absolute;
  top: 0;
  box-shadow: 2vw 2vw 20px 2px dimgray;
}
.s1 > article:nth-of-type(2) figure figcaption {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2.5vw;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
}

.s2 {
  justify-content: space-evenly;
  padding: 0 5%;
}
.s2 article {
  justify-content: center;
  flex-wrap: wrap;
}
.s2 article div {
  width: 7vw;
  height: 7vw;
  margin: 2vw;
}
.s2 article h3 {
  font-size: 2vw;
  margin: 2vw;
}
.s2 article p {
  font-size: 1.5vw;
  margin: 2vw;
}
.s2 article > a:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 5px 1px dimgray;
}
.s2 article a {
  font-family: serif;
  text-transform: uppercase;
  font-size: 1.5vw;
  color: gray;
  border: 2px solid dimgray;
  padding: 0.5vw 1vw;
}
.s2 > article:nth-of-type(1) div {
  background-image: url(../img/logo-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.s2 > article:nth-of-type(2) div {
  background-image: url(../img/logo-2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.s2 > article:nth-of-type(3) div {
  background-image: url(../img/logo-3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.s3 {
  padding: 5% 0;
}
.s3 > article:nth-of-type(1) {
  width: 60%;
}
.s3 > article:nth-of-type(1) figure {
  height: 80vh;
}
.s3 > article:nth-of-type(2) {
  width: 40%;
  padding: 5% 10%;
  flex-wrap: wrap;
  align-content: space-evenly;
  background-color: black;
  color: white;
}
.s3 > article:nth-of-type(2) h4 {
  font-size: 1.5vw;
}
.s3 > article:nth-of-type(2) h3 {
  font-size: 2.5vw;
}
.s3 > article:nth-of-type(2) p {
  font-size: 1.2vw;
}
.s3 > article:nth-of-type(2) > a:hover {
  background-color: white;
  color: black;
}
.s3 > article:nth-of-type(2) a {
  font-family: serif;
  padding: 2% 5%;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
}

.s4 {
  margin-bottom: 5vh;
}
.s4 h4 {
  justify-content: center;
  font-size: 6vw;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.s5 {
  padding: 1% 10%;
}
.s5 > article:nth-of-type(1) {
  width: 50%;
}
.s5 > article:nth-of-type(2):hover {
  transform: scale(1.02);
}
.s5 > article:nth-of-type(2) {
  width: 50%;
  background-color: black;
  color: white;
  padding: 9% 5%;
}
.s5 > article:nth-of-type(2) > h4 {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-bottom: 5vh;
}
.s5 > article:nth-of-type(2) > h3 {
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 5vh;
}
.s5 > article:nth-of-type(2) p {
  font-size: 1.5vw;
  margin-bottom: 5vh;
}
.s5 > article:nth-of-type(2) > a:hover {
  background-color: white;
  color: black;
}
.s5 > article:nth-of-type(2) a {
  font-family: serif;
  padding: 1vw 3vw;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  font-size: 1.5vw;
}

.s6 {
  padding: 1% 10%;
  justify-content: space-between;
}
.s6 > article {
  width: 48%;
}
.s6 > article figure {
  position: relative;
  overflow: hidden;
  height: 45vw;
  box-shadow: 1vw 1vw 15px 2px dimgray;
}
.s6 > article figure:hover > img {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}
.s6 > article figure > img {
  position: absolute;
  left: 0;
  top: 0;
}
.s6 > article figure > div {
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.904) 10%, rgba(0, 0, 0, 0.096));
}
.s6 > article figure figcaption {
  top: 0;
  padding: 20% 15%;
  color: white;
}
.s6 > article figure figcaption h4 {
  font-size: 1vw;
  margin-bottom: 3vw;
  font-family: serif;
}
.s6 > article figure figcaption h3 {
  font-size: 3vw;
  margin-bottom: 3vw;
  font-weight: lighter;
}
.s6 > article figure figcaption p {
  font-size: 1.5vw;
  margin-bottom: 3vw;
}
.s6 > article figure figcaption > a:hover {
  background-color: black;
}
.s6 > article figure figcaption a {
  font-family: serif;
  padding: 0.5vw 2vw;
  color: white;
  border: 1px solid white;
  font-size: 1.5vw;
  font-weight: lighter;
  text-transform: uppercase;
}

.s7 {
  background-image: url(../img/menu272x.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 35vw;
  margin: 2vw 0;
}
.s7 article {
  background-color: rgba(0, 0, 0, 0.219);
  justify-content: center;
  align-items: end;
}
.s7 article a {
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

.s9 {
  padding: 2vw 7vw;
  justify-content: space-between;
}
.s9 article {
  width: 30%;
}
.s9 article figure {
  height: 45vw;
  overflow: hidden;
}
.s9 article figure:hover > div {
  opacity: 1;
}
.s9 article figure div {
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.904) 10%, rgba(0, 0, 0, 0.096));
  opacity: 0;
  justify-content: center;
  align-content: center;
}
.s9 article figure div a {
  text-transform: uppercase;
  color: white;
  font-size: 1.5vw;
  padding: 80% 0%;
}
.s9 article figure div a span {
  font-size: 1vw;
  text-transform: capitalize;
}
.s9 article figure:hover > figcaption {
  bottom: -15%;
}
.s9 article figure figcaption {
  bottom: 0;
  height: 15%;
  background-color: white;
  padding: 2vw 0;
  text-align: center;
}
.s9 article figure figcaption h3 {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}
.s9 article figure figcaption p {
  font-size: 0.8vw;
}

.s10 {
  height: 45vw;
}
.s10 > article:nth-of-type(1) {
  width: 60%;
}
.s10 > article:nth-of-type(1) figure {
  height: 45vw;
}
.s10 > article:nth-of-type(2) {
  width: 40%;
  background-color: black;
  padding: 10vw 7vw;
}
.s10 > article:nth-of-type(2) * {
  color: white;
}
.s10 > article:nth-of-type(2) h4 {
  font-size: 1.5vw;
  margin-bottom: 2vw;
  font-family: serif;
}
.s10 > article:nth-of-type(2) h3 {
  font-size: 3vw;
  margin-bottom: 2vw;
}
.s10 > article:nth-of-type(2) p {
  font-size: 1.5vw;
  margin-bottom: 3vw;
}
.s10 > article:nth-of-type(2) > a:hover {
  background-color: white;
  color: black;
}
.s10 > article:nth-of-type(2) a {
  font-family: serif;
  padding: 1vw 2vw;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.s11 {
  padding: 8vw;
}
.s11 article {
  background-color: #e8e8e8;
  padding: 5vw 3vw;
}
.s11 article h3 {
  font-size: 1.9vw;
  margin-bottom: 3vw;
}
.s11 article a {
  color: black;
  font-size: 1.6vw;
  margin-bottom: 5vw;
  text-transform: uppercase;
  font-family: serif;
}
.s11 article a span {
  font-size: 1vw;
  margin-left: 1.5vw;
}
.s11 article p {
  font-size: 1.2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.s11 > article:nth-of-type(1) {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.s11 > article:nth-of-type(2) {
  padding: 0vw 0vw;
  display: grid;
  color: white;
  margin-bottom: 12vw;
  background-image: url(../img/misc22x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.s11 > article:nth-of-type(2) div {
  padding: 5vw 3vw;
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.836) 10%, rgba(0, 0, 0, 0.183));
}
.s11 > article:nth-of-type(2) div h3 {
  font-size: 1.9vw;
  margin-bottom: 3vw;
}
.s11 > article:nth-of-type(2) div a {
  color: white;
  font-size: 1.6vw;
  margin-bottom: 5vw;
  text-transform: uppercase;
}
.s11 > article:nth-of-type(2) div a span {
  font-size: 1vw;
  margin-left: 1.5vw;
}
.s11 > article:nth-of-type(2) div p {
  font-size: 1.2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.s11 > article:nth-of-type(3) {
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.s12 > article > figure {
  overflow: hidden;
  height: 45vw;
}
.s12 > article > figure > img {
  top: 0;
}
.s12 > article > figure > figcaption:hover {
  transform: scale(1.03);
}
.s12 > article > figure > figcaption {
  padding: 5vw 3vw;
  top: 7vw;
  left: 15vw;
  color: white;
  background-color: black;
}
.s12 > article > figure > figcaption > h3 {
  font-size: 2.5vw;
  margin-bottom: 5vw;
}
.s12 > article > figure > figcaption > h3 span {
  font-size: 1.5vw;
  margin-left: 1vw;
}
.s12 > article > figure > figcaption > p {
  font-size: 1.5vw;
  margin-bottom: 5vw;
}
.s12 > article > figure > figcaption > a:hover {
  background-color: white;
  color: black;
}
.s12 > article > figure > figcaption > a {
  font-family: serif;
  padding: 0.5vw 2vw;
  color: white;
  font-size: 1.5vw;
  text-transform: uppercase;
  border: 2px solid white;
}

footer {
  display: grid;
  height: 40vw;
}
footer section {
  grid-area: 1/1/2/2;
  justify-content: space-evenly;
  align-items: center;
}
footer section:nth-of-type(1) {
  background-image: url(../img/slider52x-1200x1107.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer section:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.913) 30%, rgba(0, 0, 0, 0.183));
}
footer section:nth-of-type(3) > article:nth-of-type(1) {
  flex-wrap: wrap;
}
footer section:nth-of-type(3) > article:nth-of-type(1) figure {
  width: 100%;
  height: 100%;
  margin-bottom: 10vw;
}
footer section:nth-of-type(3) > article:nth-of-type(1) p {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 2vw;
  font-family: serif;
  font-weight: bold;
}
footer section:nth-of-type(3) > article:nth-of-type(2) > p {
  font-weight: bold;
  font-size: 2vw;
  color: white;
  margin-bottom: 1vw;
  font-family: serif;
}
footer section:nth-of-type(3) > article:nth-of-type(2) > p > span img {
  width: 1.4vw;
  height: 1.4vw;
}
footer section:nth-of-type(3) > article:nth-of-type(2) > p:nth-of-type(6) {
  text-transform: uppercase;
}
footer section:nth-of-type(3) > article:nth-of-type(2) > p:nth-of-type(6) span img {
  width: 2vw;
  height: 2vw;
}
footer section:nth-of-type(3) > article:nth-of-type(3) figure {
  width: 20vw;
  height: 20vw;
  border-radius: 1vw;
  overflow: hidden;
}
footer section:nth-of-type(3) > article:nth-of-type(3) figure > img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}
footer section:nth-of-type(3) > article:nth-of-type(3) figure img {
  border-radius: 1vw;
  filter: grayscale(100%);
  transition: 1s;
}/*# sourceMappingURL=master.css.map */